[alias]
	br = branch
	brm = branch -m
	brd = branch -D
  pl = pull origin
	plm = pull origin main
	com = commit -m
	psh = push origin
	fpsh = push origin -f
	undo = reset HEAD~
	fclean = reset --hard HEAD
